* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  color-scheme: dark;
}
.app-header {
  background-color: #20283e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
::-webkit-scrollbar-thumb {

  background: #20283e;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}